
.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: #2F303A;
    height: 400px;
    text-align: center;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-width: 480px) and (max-width: 767px) {
    max-width: 768px;
    }

    @media screen and (max-width:479px) {
        background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/mobile-header-img.jpg);
    }

    @media screen and (min-width: 480px) and (max-width: 767px) {
    max-width: 768px;
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/mobile-header-img.jpg);
    }

    @media screen and (min-width: 768px) {
    max-width: 1600px;
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/tablet-header-img.jpg);
    }

    @media not all, screen and (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2), 
    screen and (max-width: 479px) and (min-resolution: 192dpi), 
    screen and (max-width: 479px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/mobile-header-img@2x.jpg);
}

    @media not all, screen and (min-width: 480px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), 
    screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 192dpi), 
    screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/mobile-header-img@2x.jpg);
}

    @media not all, screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), 
    screen and (min-width: 768px) and (min-resolution: 192dpi), 
    screen and (min-width: 768px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/tablet-header-img@2x.jpg);
}

@media screen and (min-width: 1200px){
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
}
}


.hero__title {
    margin-bottom: var(--items-between);
    color: var(--primery-white-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;



    @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    }
}